# Server Port
PORT=5001

# MongoDB Connection String (MongoDB Atlas or local)
MONGODB_URI=mongodb://localhost:27017/pomodoro

# Frontend Client URL (for CORS protection)
CLIENT_URL=http://localhost:5173
